meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Conceptos fundamentales de la Política de Participación Social en Salud
meta(meta name="description" content="La Política de Participación Social en Salud (PPSS), da respuesta a las necesidades y problemáticas que afectan, limitan o restringen la participación de la ciudadanía en salud en el marco de lo establecido en las leyes 1438 de 2011 y 1751 de 2015, adoptada mediante Resolución 2063 de 2017; convirtiéndose así en un referente para organizar los procesos participativos en el país, de manera que la ciudadanía haga parte del proceso de adopción de las decisiones que tienen que ver con ese derecho fundamental.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")