.container#page-normatividad      
    .header-ecored
        h1 3. Normatividad 

    .jumbotron.bg-white       
        .row
            p La Constitución Política destaca en su preámbulo, que las finalidades que se persiguen con el ordenamiento que se expide se deben realizar “dentro de un marco jurídico, democrático y participativo” y en sus artículos 1 y 2, resalta ese valor y principio como fundamental dentro de la organización del Estado.


        .row.align-items-center.justify-content-center.my-5
            .col-3
                .h3.card-title Ley 100 de 1993 
            .col-9
                article.custom-item.d-flex.align-items-center
                    img(src="assets/images/pages/tema-1/ley1.svg")

        .row.align-items-center.justify-content-center.my-5
            .col-3
                .h3.card-title Ley 1438 de 2011  
            .col-9
                article.custom-item.d-flex.align-items-center
                    img(src="assets/images/pages/tema-1/ley2.svg").img-fluid
        .row
            .col-4
            .col-8 
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.1
                    span.header-step-title “Fortalecer la capacidad ciudadana para intervenir en el ciclo de las políticas públicas de salud: diseño, ejecución, evaluación y ajuste”
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.2
                    span.header-step-title “Promover la cultura de la salud y el autocuidado, modificar los factores de riesgo y estimular los factores protectores de la salud”
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.3
                    span.header-step-title “Incentivar la veeduría de recursos del sector salud y el cumplimiento de los planes de beneficios”
                p.header-step  
                    span.header-step-number.text-color-orange.h3 136.4
                    span.header-step-title Participar activamente en los ejercicios de definición de política.         
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.5
                    span.header-step-title Participar activamente en los ejercicios de presupuestación participativa en salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 136.6
                    span.header-step-title Defender el derecho de la salud de los ciudadanos y detectar temas cruciales para mejorar los niveles de satisfacción del usuario.
        
        .row.align-items-center.justify-content-center.my-5
            .col-3
                .h3.card-title La Ley Estatutaria 1751 de 2015  
            .col-9
                article.custom-item.d-flex.align-items-center
                    img(src="assets/images/pages/tema-1/ley3.svg")                               
        .row
            .col-4
            .col-8 
                p.header-step
                    span.header-step-number.text-color-orange.h3 a.
                    span.header-step-title Participar en la formulación de la política de salud, así como en los planes para su implementación.
                p.header-step
                    span.header-step-number.text-color-orange.h3 b.
                    span.header-step-title Participar en las instancias de deliberación, veeduría y seguimiento del Sistema.
                p.header-step
                    span.header-step-number.text-color-orange.h3 c.
                    span.header-step-title Participar en los programas de promoción y prevención que sean establecidos.
                p.header-step  
                    span.header-step-number.text-color-orange.h3 d.
                    span.header-step-title Participar en las decisiones de inclusión o exclusión de servicios y tecnologías.         
                p.header-step
                    span.header-step-number.text-color-orange.h3 e.
                    span.header-step-title Participar en los procesos de definición de prioridades de salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 f.
                    span.header-step-title Participar en decisiones que puedan significar una limitación o restricción en las condiciones de acceso a establecimientos de salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 g.
                    span.header-step-title Participar en la evaluación de los resultados de las políticas de salud.
      
        .row.align-items-center.justify-content-center.my-5
            .col-3
                .h3.card-title La Ley Estatutaria 1757 de 2015 
            .col-9
                article.custom-item.d-flex.align-items-center
                    img(src="assets/images/pages/tema-1/ley4.svg")   

        .row.align-items-center.justify-content-center.my-5
            .col-3
                .h3.card-title Resolución 2063 de 2017 
            .col-9
                article.custom-item.d-flex.align-items-center
                    img(src="assets/images/pages/tema-1/ley5.svg")
