.container#page-normatividad      
    .header-ecored
        h1 3. Normatividad 

    .jumbotron.bg-white       
        .row
            p La Constitución Política destaca en su preámbulo, que las finalidades que se persiguen con el ordenamiento que se expide se deben realizar “dentro de un marco jurídico, democrático y participativo” y en sus artículos 1 y 2, resalta ese valor y principio como fundamental dentro de la organización del Estado.

        .row.justify-content-center.align-items-center.mb-5.mt-5
            .col-12
                .chat
                    .chat-avatar
                    p Ley 100 de 1993
                    .chat-box.cb--odd 
                        .row  
                            .col-2
                                img(src="assets/images/pages/tema-1/grupo12804.svg", alt="").d-none.d-sm-block
                            .col-10
                                p.mb-0 En su artículo 153, modificado por el artículo 3 de la Ley 1438 de 2011, establece como principio del Sistema General de Seguridad Social en Salud, en su numeral 3.10, la participación social, que es la intervención de la comunidad en la organización, control, gestión y fiscalización de las instituciones y del sistema en conjunto.
            
            





        
        .row.justify-content-center.align-items-center.mb-5.mt-5
            .col-12
                .chat
                    .chat-avatar.align-center
                    p Ley 1438 de 2011
                    .chat-box.cb--odd
                        .row
                            .col-2
                                img(src="assets/images/pages/tema-1/grupo12805.svg", alt="").d-none.d-sm-block
                            .col-10
                                p.mb-0 Señala, en su artículo 136, que el hoy Ministerio de Salud y Protección Social definirá una política nacional de participación social, PPSS, que tenga como objetivos: 

        .row
            .col-4
            .col-8 
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.1
                    span.header-step-title “Fortalecer la capacidad ciudadana para intervenir en el ciclo de las políticas públicas de salud: diseño, ejecución, evaluación y ajuste”
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.2
                    span.header-step-title “Promover la cultura de la salud y el autocuidado, modificar los factores de riesgo y estimular los factores protectores de la salud”
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.3
                    span.header-step-title “Incentivar la veeduría de recursos del sector salud y el cumplimiento de los planes de beneficios”
                p.header-step  
                    span.header-step-number.text-color-orange.h3 136.4
                    span.header-step-title Participar activamente en los ejercicios de definición de política.         
                p.header-step
                    span.header-step-number.text-color-orange.h3 136.5
                    span.header-step-title Participar activamente en los ejercicios de presupuestación participativa en salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 136.6
                    span.header-step-title Defender el derecho de la salud de los ciudadanos y detectar temas cruciales para mejorar los niveles de satisfacción del usuario.

        .row.justify-content-center.align-items-center.mb-5.mt-5
            .col-12
                .chat
                    .chat-avatar.align-center
                    p La Ley Estatutaria 1751 de 2015
                    .chat-box.cb--odd
                        .row
                            .col-2
                                img(src="assets/images/pages/tema-1/grupo12804.svg", alt="").d-none.d-sm-block
                            .col-10
                                p.mb-0 Dispone, en su artículo 12, que el derecho fundamental a la salud comprende el derecho de las personas a participar en las decisiones adoptadas por los agentes del sistema de salud que la afectan o interesan.
                                p.mb-0.mt-3 El artículo 12, define que este derecho incluye: 
                                                           
        .row
            .col-4
            .col-8 
                p.header-step
                    span.header-step-number.text-color-orange.h3 a.
                    span.header-step-title Participar en la formulación de la política de salud, así como en los planes para su implementación.
                p.header-step
                    span.header-step-number.text-color-orange.h3 b.
                    span.header-step-title Participar en las instancias de deliberación, veeduría y seguimiento del Sistema.
                p.header-step
                    span.header-step-number.text-color-orange.h3 c.
                    span.header-step-title Participar en los programas de promoción y prevención que sean establecidos.
                p.header-step  
                    span.header-step-number.text-color-orange.h3 d.
                    span.header-step-title Participar en las decisiones de inclusión o exclusión de servicios y tecnologías.         
                p.header-step
                    span.header-step-number.text-color-orange.h3 e.
                    span.header-step-title Participar en los procesos de definición de prioridades de salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 f.
                    span.header-step-title Participar en decisiones que puedan significar una limitación o restricción en las condiciones de acceso a establecimientos de salud.
                p.header-step    
                    span.header-step-number.text-color-orange.h3 g.
                    span.header-step-title Participar en la evaluación de los resultados de las políticas de salud.

        .row.justify-content-center.align-items-center.mb-5.mt-5
            .col-12
                .chat
                    .chat-avatar.align-center
                    p La Ley Estatutaria 1757 de 2015
                    .chat-box.cb--odd
                        .row
                            .col-2
                                img(src="assets/images/pages/tema-1/grupo12805.svg", alt="").d-none.d-sm-block
                            .col-10
                                p.mb-0 Adopta una serie de disposiciones en materia de promoción y protección del derecho a la participación, en especial en aspectos como la planeación, el control social a lo público y la financiación. 
                                
        .row.justify-content-center.align-items-center.mb-5.mt-5
            .col-12
                .chat
                    .chat-avatar.align-center
                    p.text-aling-center Resolución 2063 de 2017       
                    .chat-box.cb--odd
                        .row
                            .col-2
                                img(src="assets/images/pages/tema-1/grupo12804.svg", alt="").d-none.d-sm-block
                            .col-10
                                p.mb-0 Por la cual se adopta la Política de Participación Social en Salud, busca garantizar el derecho a la ciudadanía a vincularse en la toma de decisiones del sector que le afecten o interesen por parte de los integrantes del SGSSS, con el fin dar cumplimiento a la Ley Estatutaria de Salud.
                                
