.container#page-marcoestrategico        
    .header-ecored
        h1 
            spam 4. Marco estratégico 

    .jumbotron.bg-white     
        img.img-a.mb-5(src='assets/images/pages/tema-1/grupo12806.png').img-fluid
        p El marco estratégico de la PPSS corresponde a la construcción de respuestas a las necesidades de la ciudadanía, las organizaciones, las formas y los trabajadores del sector salud, para fortalecer los procesos de participación; de igual forma, corresponde al reconocimiento de los requerimientos de las entidades territoriales y de las instituciones del sector salud.
        p Durante el proceso de deliberación y construcción de la PPSS, se realizaron discusiones sobre todas las problemáticas planteadas por los ciudadanos, organizaciones sociales y trabajadores de la salud que participaron en su construcción, precisando en su marco estratégico con la intención de lograr que la ciudadanía tuviera tiempo para realizar las propuestas a las diversas problemáticas planteadas.
        p Finalmente, el marco estratégico de la PPSS establecido en la Resolución 2063 de 2017, está integrado por los principios orientadores, el objetivo general, objetivos específicos, ejes y líneas de acción, con las estrategias operativas que orientan la formulación de los planes de acción de las entidades, como el instrumento que permite el desarrollo de la política.        
        .sub-teme-ecored.mt-5#tema4-1
            h2 4.1 Principios orientadores         

        p Los principios se reconocen como orientaciones ético–políticas para todos los actores e instancias que desarrollan procesos de participación social, ordenan las acciones para el Estado y representan tanto al nivel central como a la totalidad de entidades territoriales; de igual forma, direccionan el relacionamiento de la ciudadanía y las instancias de participación social en salud, constituyendo elementos para la interpretación de otras normas.
        p La garantía de la participación social respecto del derecho fundamental a la salud que se desarrolla mediante la PPSS se fundamenta en los siguientes principios:

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
                .col
                    h3 Enfoque de derechos
                    .hr-ecored    
                    p.mb-0.mt-3 Los ciudadanos son titulares y sujetos plenos para ejercer el derecho a la participación, y es responsabilidad de los servidores públicos adoptar las medidas necesarias para garantizar el ejercicio de este, incluyendo acciones de afirmación y restitución cuando ellos hayan sido vulnerados. 

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
                .col    
                    h3 Territorialidad
                    .hr-ecored    
                    p.mb-0.mt-3 La PPSS tendrá en cuenta las dinámicas territoriales, la diversidad y heterogeneidad de los procesos de participación en la perspectiva de impulsar y garantizar el derecho a la participación, lo que implica reconocer el desarrollo diferencial de los espacios, mecanismos e instancias de participación social.

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid
                .col    
                    h3 Diversidad
                    .hr-ecored    
                    p.mb-0.mt-3 Es el reconocimiento y promoción de la pluralidad, la heterogeneidad y la singularidad manifiesta en los planos étnico, cultural, de edad, sexo, identidad de género u orientación sexual, religiosa o política de los sujetos participantes.
                
        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid
                .col    
                    h3 Solidaridad
                    .hr-ecored    
                    p.mb-0.mt-3 Capacidad de acción articulada entre las ciudadanas y ciudadanos, organizaciones e instituciones, en causas que aporten al desarrollo individual y colectivo, privilegiando a quienes se encuentren en desventaja manifiesta frente al ejercicio de su derecho a la participación.

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid
                .col    
                    h3 Autonomía
                    .hr-ecored    
                    p.mb-0.mt-3 Es el reconocimiento de la libertad y dignidad de las personas y organizaciones para ejercer el derecho a la participación, para lo cual las autoridades, instancias, espacios y organizaciones, ejercerán libremente sus funciones en materia de participación, buscando el pleno ejercicio de la libertad y la promoción de la autodeterminación individual y colectiva.

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                .col    
                    h3 Equidad
                    .hr-ecored    
                    p.mb-0.mt-3 Desde la perspectiva de desarrollo humano, el concepto de equidad implica el reconocimiento de las condiciones desiguales que afectan a las personas para el ejercicio de la participación. El desarrollo de la política pública en participación debe tener en cuenta las asimetrías de poder y los diversos puntos de vista evitando las discriminaciones. 

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img7.png").img-fluid
                .col    
                    h3 Transparencia
                    .hr-ecored    
                    p.mb-0.mt-3 Hace referencia al establecimiento de mecanismos de acceso a la información, criterios y dispositivos que garanticen la participación en los procesos de gestión de la salud: de inversión en salud, rendición de cuentas, auditoría y contraloría social e interacción entre los funcionarios y/o trabajadores de la salud con la población, en torno al manejo administrativo y gerencial de los recursos públicos, así como el cumplimiento de políticas públicas y programas de impacto en la población. Se debe tener en cuenta el ejercicio del control social de la ciudadanía en los procesos de participación y uso de recursos públicos que se utilicen para tal fin. 

        .jumbotron.mt-5.mx-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid
                .col    
                    h3 Corresponsabilidad
                    .hr-ecored    
                    p.mb-0.mt-3 La política de participación debe favorecer la concurrencia de esfuerzos de los actores sociales concertados y articulados entre sí, en un marco de colaboración protagónico, factibles de realizarse para enfrentar situaciones concretas relacionadas con los procesos de participación social en salud, con el fin de lograr un mayor impacto en la calidad de vida.