.container#page-introduccion

    .header-ecored
        h1 1. Introducción

    .jumbotron.bg-white 
        p Las políticas públicas se definen como: “(…) proyectos y actividades que un Estado diseña y gestiona a través de un gobierno y una administración pública, con fines de satisfacer las necesidades de una sociedad” (Graglia, 2012, p. 19).

        p La Política Pública de Participación Social en Salud (en adelante PPSS), “busca dar respuestas a las problemáticas, necesidades, dificultades, oportunidades, limitaciones y debilidades que afectan la participación social en salud, en la perspectiva de dar cumplimiento al marco legal vigente, por ende, a la realización del derecho humano de la participación que se encuentra vinculado bajo una lógica de interdependencia con el derecho a la salud". Ley Estatutaria 1751 de 2015. Por medio de la cual se regula el derecho fundamental a la salud y se dictan otras disposiciones. 16 de febrero de 2015. D.O. 49.427

        p La construcción de la PPSS se realizó a través de un proceso participativo cualificado, por medio de talleres con representantes de todo el país, entendido como un ejercicio sistemático de recolección de información. El desarrollo del proceso deliberativo contó con la participación de ciudadanos y trabajadores de la salud, definidos como grupos de interés en la participación social en salud, con trayectorias y experiencias significativas, con aportes de un alto valor, dadas sus prácticas y niveles de representatividad. 

        p Esta política recogió los acumulados históricos elaborados por el Ministerio de Salud y Protección Social, así como las voces ciudadanas cualificadas que participaron en el proceso de deliberación, que son representativas de los espacios y mecanismos de participación social en salud, como también de los trabajadores en el tema de participación social de todo el país y algunas contribuciones académicas. 

        p Así mismo, recogió las diferentes perspectivas sobre la participación social en salud. Como resultado, se generaron los marcos o lineamientos de la política en relación con el derecho a la participación social en salud y su vínculo con el derecho a la salud. 

        p La Política de Participación Social en Salud (PPSS), da respuesta a las necesidades y problemáticas que afectan, limitan o restringen la participación de la ciudadanía en salud en el marco de lo establecido en las leyes 1438 de 2011 y 1751 de 2015, adoptada mediante Resolución 2063 de 2017; convirtiéndose así en un referente para organizar los procesos participativos en el país, de manera que la ciudadanía haga parte del proceso de adopción de las decisiones que tienen que ver con ese derecho fundamental. Ley 1438 de 2011. Por medio de la cual se reforma el sistema general de seguridad social en salud y se dictan otras disposiciones. 19 de enero de 2011.   D.O.47.957. Ley Estatutaria 1751 de 2015. Por medio de la cual se regula el derecho fundamental a la salud y se dictan otras disposiciones. 16 de febrero de 2015. D.O. 49.427

        p Finalmente, la participación como práctica social se refiere a aquellos procesos por los cuales la ciudadanía afecta las decisiones públicas en favor del derecho a la salud, el cual comprende el derecho de las personas a participar en las decisiones adoptadas por los agentes del sistema de salud que la afectan o interesan. Ley Estatutaria en salud, Capítulo II. Artículo 12. Ley Estatutaria 1751 de 2015. Por medio de la cual se regula el derecho fundamental a la salud y se dictan otras disposiciones. 16 de febrero de 2015. D.O. 49.427     

              