include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Implementación de la Política de Participación Social en Salud
        meta(meta name="description" content="Ruta de aprendizaje programa Implementación de la Política de Participación Social en Salud.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Implementación de la Política de Participación Social en Salud
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark
                                        li 
                                            span #[strong Nombre del programa:] Implementación de la Política de Participación Social en Salud
                                        li 
                                            span #[strong Código:] 33130209
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Talento humano en salud y comunidad en general.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bvg-s2qrpyI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Estimada ciudadanía, veedores, líderes sociales, organizaciones sociales, funcionarios públicos y de las instituciones del sector salud. Nos da mucho gusto darles la bienvenida a este nuevo curso virtual sobre la Implementación de la Política de Participación Social en Salud, que les servirá de apoyo para ampliar sus conocimientos a partir de las experiencias de aprendizaje.
                
                p Se abordará la importancia del derecho a la participación que tiene la población colombiana, y cómo esto influye en las decisiones que se toman en el sector salud. Usaremos este espacio como un recurso idóneo que complementa y enriquece las prácticas participativas en el territorio y en sus entornos; lo que permitirá brindar e intercambiar información, experiencias y perspectivas, sobre la política de participación social en salud.

                
                p El objetivo del curso, es cualificar a la ciudadanía y a los trabajadores de la salud para que ejerzan su derecho a la participación en salud. Lo cual potencia su vinculación en torno a la toma de decisiones del sector que le afecte o interese, por parte de los integrantes del sistema. Con el fin de dar cumplimiento a la Ley Estatutaria de Salud, reconociendo que las poblaciones tienen procesos de participación social, dinámicas históricas y territoriales.

                
                p Las actividades de formación tienen una duración total de 48 horas y sus componentes son:
                ul
                    li Reconocer los principios de la Participación Social en Salud como un derecho humano fundamental vinculado con la salud.
                    li Fortalecer las capacidades de los servidores públicos, trabajadores de la salud y ciudadanía para ejercer el derecho a la participación teniendo en cuenta la Ley Estatutaria. 
                    li Desarrollar acciones de Participación Social en el marco del derecho a la salud.
                    li Fomentar en la ciudadanía y sus organizaciones el derecho a la Participación Social en Salud en el marco de la Política.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La participación como un medio para transformar de manera individual y colectiva las condiciones que producen dichas desigualdades en salud, y a la vez la participación es fin en tanto transforma a los sujetos que participan. Afectar los determinantes sociales de la salud pasa por incorporar a la ciudadanía en todos los procesos de gestión y desarrollo del sistema de salud y en las acciones que se requieran para transformar las condiciones de vida o los determinantes estructurales, los cuales por lo general corresponde a otras instancias o sectores y están por fuera del control del sector salud. En tal sentido, una comunidad empodera y apropiada de su derecho a la salud es un aliado para afectar dichos determinantes. En este marco, la educación- formación es considerada como la principal estrategia para disminuir las desigualdades, en este marco, reducir las brechas de poder construidas históricamente en tanto la ciudadanía puede cualificarse y apropiar herramientas y discursos para el ejercicio del derecho a la participación y a la salud.
                
                p Por su parte la educación en salud, por lo general ha estado dirigida a informar o generar cambios comportamentales en relación con los hábitos en el marco de los estilos de vida. Es importante resaltar que la propuesta o programa que se presenta busca generar transformaciones en las posturas de quienes son considerados los sujetos de la formación, con lo cual el planteamiento es que la educación va más allá de lo comportamental y hace parte de las prácticas sociales, para el caso específico, se trata de conectar los procesos de formación con el objeto salud entendida como producción social y parte de la vida cotidiana de las personas y de su bienestar o malestar.
                
                p En tal sentido, el programa vincula el enfoque de derechos y la concepción de determinación social de la salud, lo que implica que el proceso formativo debe potenciar las capacidades de los servidores públicos y de la ciudadanía hacia un ejercicio de poder que transforme las desigualdades injustas y evitables.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Talento humano en salud y comunidad en general.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Está centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

                p.mt-5  Adicionalmente, se plantean tres actividades a partir de las cuales se garantiza un aprendizaje participativo. Estas actividades se basan en generar análisis, discusiones e intervenciones de campo en los espacios relacionados con la Política de Participación Social en Salud (PPSS).

        +creditosFooter("assets/images/logos/senaLogo.svg")





